<!DOCTYPE html>
<html>

<head>
    <style>
        .styled-table {
            align-self: center;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            width: 100%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: center;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>


    <div style="width: 85%; margin: 0 7.5%;">


        <div style="text-align: center; padding-left: 50px;">
            <table class="styled-table">
                <thead>
                    <tr>
                        <% titles.forEach(data=> {%>

                            <td>
                                <%= data %>
                            </td>

                            <% });%>
                                <!-- <td>Title </td>
                        <td>Author </td>
                        <td>Category </td>
                        <td>Type </td>
                        <td>Comment</td>
                        <td>Date </td> -->
                    </tr>
                </thead>
                <tbody>
                    <% if (dataList.length> 0) { %>
                        <% dataList.forEach(data=> {%>
                            <tr>
                                <% dataMap.forEach(map=> {%>
                                    <td>
                                        <%= data[map] %>
                                    </td>
                                    <% });%>
                            </tr>
                            <% });%>
                                <% }%>
                                    <!-- and so on... -->
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>